html {
  background-color: #c9b5ab;
  color: #222;
  font-family: 'PT Serif', serif;
  line-height: 1.5;
}

nav a {
  color: #8f2440;
  font-family: 'PT Sans', sans-serif;
  font-weight:bold;
  text-decoration: none;
}

nav ol {
  font-size: 1.125rem;
  list-style-type: none;
}

img {
  width: 100%;
}

h1, h2 {
  color: #3f1622;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
  font-style: bold;
}

figcaption {
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
}

p {
  font-size: 0.8rem;
}

.intro {
  font-weight: bold;
}

blockquote {
  font-size: 1.125rem;
  font-style: italic;
  text-align: center;
}

blockquote cite {
  font-size: 0.8rem;
  font-style: italic;
}

.serving {
  font-style: italic;
}

dl dt {
  font-family: 'PT Serif', serif;
  font-weight: bold;
}

dl dd {
  text-indent: 0.1em;
}

footer a {
  color: #8f2440;
  text-decoration: none;
}
